@font-face {
    font-family: "PFDinDisplayPro-Bold";
    src: url("../fonts/pfdindisplaypro/PFDinDisplayPro-Bold.ttf");
}
@font-face {
    font-family: "PFDinDisplayPro-Reg";
    src: url("../fonts/pfdindisplaypro/PFDinDisplayPro-Reg.ttf");
}

/* font-family: "RobotoSlabBold"; */
@font-face {
    font-family: "RobotoSlabBold";
    src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot");
    src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
    url("../fonts/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
